<div class="col card campaign">
  <a href="#" class="stretched-link"></a>
  <img src="assets/images/campaigns/serenity.jpg" class="d-block w-100" alt="serenity">
  <div class="card-info">
    <h5 class="text-break">Tendências Serenity</h5>
  </div>
</div>
<div class="col card campaign">
  <a href="#" class="stretched-link"></a>
  <img src="assets/images/campaigns/tapetes.jpg" class="d-block w-100" alt="tapetes">
  <div class="card-info">
    <h5 class="text-break">Decore com tapetes</h5>
  </div>
</div>
<div class="col card campaign">
  <a href="#" class="stretched-link"></a>
  <img src="assets/images/campaigns/natal.jpg" class="d-block w-100" alt="natal">
  <div class="card-info">
    <h5 class="text-break">Ideias-presente</h5>
  </div>
</div>
