<nav class="navbar navbar-expand-lg navbar-light py-4">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="assets/images/logo.svg" alt="La Redoute" height="32" class="d-inline-block align-text-top">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav m-auto mb-2 mb-lg-0">

        <li class="nav-item active dropdown">
          <a class="nav-link active" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Casa
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="information-grid">
              <div class="dropdown-colum">
                <div class="mb-3">Mobiliário</div>
                <div class="dropdown-links">
                  <a href="#">Aparadores, louceiros</a>
                  <a href="#">Armários, guarda fatos</a>
                  <a href="#">Cómodas, camiseiros</a>
                  <a href="#">Móveis TV, audio</a>
                  <a href="#">Móveis de escritório</a>
                  <a href="#">Biblioteca</a>
                  <a href="#">Prateleiras</a>
                  <a href="#">Móveis de casa de banho</a>
                  <a href="#">Ver categoria</a>
                </div>
              </div>

              <div class="dropdown-colum">
                <div class="mb-3">Têxtil</div>
                <div class="dropdown-links">
                  <a href="#">Roupa de cama</a>
                  <a href="#">Atoalhados</a>
                  <a href="#">Cortinados, estores</a>
                  <a href="#">Almofadas, capas de almofadas </a>
                  <a href="#">Tapetes </a>
                  <a href="#">Têxtil de mesa </a>
                  <a href="#">Ver categoria </a>
                </div>
              </div>

              <div class="dropdown-colum">
                <div class="mb-3">Decoração</div>
                <div class="dropdown-links">
                  <a href="#">Espelhos</a>
                  <a href="#">Pequena decoração</a>
                  <a href="#">Decoração de pareda</a>
                  <a href="#">Arrumação decoratia</a>
                  <a href="#">Loiça, talheres</a>
                  <a href="#">Decoração de jardim</a>
                  <a href="#">Ver categoria </a>
                </div>
              </div>
            </div>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#">Moda</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="information-grid">
              <div class="dropdown-colum">
                <div class="mb-3">Mulher</div>
                <div class="dropdown-links">
                  <a href="#">Roupa</a>
                  <a href="#">Lingerie e Roupa de dormir</a>
                  <a href="#">Calçado</a>
                  <a href="#">Carteiras e acessórios</a>
                  <a href="#">Tamanhos grandes</a>
                  <a href="#">Desporto</a>
                  <a href="#">Ver categoria</a>
                </div>
              </div>

              <div class="dropdown-colum">
                <div class="mb-3">Homem</div>
                <div class="dropdown-links">
                  <a href="#">Roupa</a>
                  <a href="#">Calçado</a>
                  <a href="#">Roupa interior</a>
                  <a href="#">Tamanhos grandes</a>
                  <a href="#">Desporto</a>
                  <a href="#">Acessórios</a>
                  <a href="#">Ver categoria</a>
                </div>
              </div>

              <div class="dropdown-colum">
                <div class="mb-3">Criança, Bebé</div>
                <div class="dropdown-links">
                  <a href="#">Bebé 0 - 12 meses</a>
                  <a href="#">Bebé Menino 0 - 3 anos</a>
                  <a href="#">Bebé Menina 0 - 3 anos</a>
                  <a href="#">Menino 3 - 14 anos</a>
                  <a href="#">Menina 3 - 14 anos</a>
                  <a href="#">Rapariga</a>
                  <a href="#">Rapaz</a>
                  <a href="#">Brinquedos</a>
                  <a href="#">Ver categoria</a>
                </div>
              </div>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="#"> Top Vendas </a></li>
        <li class="nav-item"><a class="nav-link" href="#"> Marcas </a></li>
        <li class="nav-item"><a class="nav-link" href="#"> Outlet </a></li>

      </ul>

      <div class="d-flex menu_icons">
        <i class='fa fa-lg fa-search' title="Pesquisa"></i>
        <i class='fa fa-lg fa-user ms-3' title="Conta"></i>
        <i class='fa fa-lg fa-heart ms-3' title="Favoritos"></i>
        <i class='fa fa-lg fa-cart-alt ms-3' title="Carrinho compras"></i>
      </div>

    </div>
  </div>
</nav>
