.footer {
  background-color: var(--accent-color);
  text-align: start;

  & img {
    min-height: 28px;
    max-height: 32px;
    padding-right: 0.25rem;
  }
}

.footer-link {
  color: var(--white);
  text-decoration: none;
  font-size: small;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.footer-fade {
  background-color: var(--fade-accent-color);
}

.socials {
  text-align: left;
  text-decoration: none;
}

.payment-methods {
  text-align: right;
  text-decoration: none;
}
