* {
  --white: #fff;
  --text: #212529;
  --text-secondary: #918f8d;
  --accent-color: #00565f;
  --fade-accent-color: #00454c;
  font-family: "Poppins", Arial, sans-serif;
}

.banner {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card {
  border-radius: 5px;
  padding: 0 0 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  min-height: 350px;
  margin: 10px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  & .card-info {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    & .price-div {
      font-size: smaller;
      margin-top: auto;
    }
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(40%);
}

.perks {
  color: var(--white);

  & i {
    font-size: 1.5rem;
  }

  & .perk-card {
    border-radius: 5px;
    padding: 20px;
    min-height: 150px;
    background-color: var(--accent-color);
    /* add a diagonal fade effect */
    background: linear-gradient(45deg,
        var(--accent-color) 50%,
        var(--fade-accent-color) 50%);
  }
}

.breadcrumb-item:hover {
  cursor: pointer;
}

/* Overrides */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  border: 1px solid var(--accent-color);
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  border: 1px solid var(--accent-color);
}

.btn-outline-primary,
.btn-outline-primary:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
  background-color: var(--white);
}

.btn-outline-primary:active,
.btn-outline-primary:active:focus {
  color: var(--white);
  border-color: var(--fade-accent-color);
  background-color: var(--accent-color);
}

.btn-primary,
.btn-primary:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-primary:active,
.btn-primary:active:focus {
  background-color: var(--fade-accent-color);
  border-color: var(--fade-accent-color);
}


